body{
    min-width: 372px;
}

.navbar img{
    max-width: 70px;
}

.wrapper{
    min-height: 100vh;
}

.card-body a{
    background-color: #d35200;
    color: white;
}

.card-body a:hover{
    background-color: white;
    color: #d35200;
    border:1px solid #d35200;
}

.card-body > .valor-product{
    font-size: 20px;
}

p.truncar-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrinho-name{
    color: #d35200;
}


.check-white:hover{
    transition: color 0.1s ease;
    background-color: #1e9d62;
    color: white !important;
    border-radius: 3%;
}

.check-white :hover{
    color: white !important;
    transition: color 0.2s ease;

}

.flex-even{
    flex: 1;
    min-width: 300px;
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: #d35200;
}

.accordion-button:not(.collapsed)::after{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 475px){
    .mt-xs-3{
        margin-top: 1.5rem;
    }
}