body{
    min-width: 372px;
}

.navbar img{
    max-width: 70px;
}

.wrapper{
    min-height: 100vh;
}

.card-body a{
    background-color: #d35200;
    color: white;
}

.card-body a:hover{
    background-color: white;
    color: #d35200;
    border:1px solid #d35200;
}

.card-body > .valor-product{
    font-size: 20px;
}

p.truncar-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrinho-name{
    color: #d35200;
}

@media screen and (max-width: 475px){
    .mt-xs-3{
        margin-top: 1.5rem;
    }
}